* {
  box-sizing: border-box;
}

.board {
  list-style: none;
  /* background-color: purple; */
  background: linear-gradient(160deg, rgba(20, 61, 197, 0.856), rgb(49, 201, 49));
  width: 340px;
  height: 340px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.753);
}

.spot {
  width: 100px;
  height: 100px;
  background-color: rgb(72, 184, 192);
  margin: 5px;
  text-align: center;
  font-size: 0;
  float: left;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 1em;
}

.mark {
  cursor: default;
  background-color: rgb(243, 196, 65);
  font-size: 2em;
  transform: rotateY(0);
}

.winner {
  background-color: rgb(69, 214, 24);
  font-size: 2em;
  cursor: default;
}


@font-face {
font-family: 'icomoon';
src:  url('fonts/icomoon.eot?3l4guf');
src:  url('fonts/icomoon.eot?3l4guf#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?3l4guf') format('truetype'),
  url('fonts/icomoon.woff?3l4guf') format('woff'),
  url('fonts/icomoon.svg?3l4guf#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'icomoon' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
content: "\ea0f";
}
.icon-radio-unchecked:before {
content: "\ea56";
}